body {
  background: lightblue;
  font-family: Arial;
}

.container {
  width: 80%;
  background: white;
}

h1 {
  color: navy;
}

p {
  color: black;
}

.project-list {
  list-style-type: none;
}

.project-card {
  background: lightgreen;
  color: black;
  display: block;
  padding: 15px;
  margin: 10px;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
}

.project-desc {
  display: block;
  color: darkgreen;
}

.project-number {
  font-weight: bold;
  color: purple;
}

.arrow {
  color: red;
}