body {
  background: black;
  font-family: Arial;
}

.container {
  width: 80%;
  background: yellow;
}

h1 {
  color: navy;
}

p {
  color: black;
}

.project-list {
  list-style-type: none;
}

.project-card {
  background: lightcoral;
  color: black;
  display: block;
  padding: 15px;
  margin: 10px;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
}

.project-desc {
  display: block;
  color: lightblue;
}

.project-number {
  font-weight: bold;
  color: indigo;
}

.arrow {
  color: darkred;
}