body {
    background: lightblue;
    color: darkblue;
    font-family: Arial;
}

h1 {
    color: purple;
    text-align: center;
}

h2 {
    color: green;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

a {
    color: purple;
}

.project-list {
    list-style-type: none;
}

.project-card {
    background: white;
    color: darkblue;
    display: block;
    padding: 15px;
    margin: 10px;
    border: 3px solid orange;
    border-radius: 12px;
}

.project-number {
    color: red;
    font-weight: bold;
    font-size: 22px;
}

.project-title {
    color: purple;
    font-weight: bold;
}

.project-desc {
    color: green;
}

.arrow {
    color: orange;
    font-size: 22px;
}

.portfolio-img {
    width: 250px;
    display: block;
    margin: 20px auto;
    border: 4px solid purple;
    border-radius: 12px;
}

hr {
    border: 2px solid orange;
}